.checkout {
	display: flex;
	padding: 20px;
	background-color: white;
	height: max-content;
}

.checkout__left {
	width: 100%;
	/* flex: 1; */
}

.checkout__ad {
	width: 100%;
	height: clamp(50px, 3vh, 100px);
	background-image: url(../src/images/banner-3.jpg);
	background-repeat: repeat-x;
	background-size: contain;
	margin-bottom: 10px;
}

.checkout__title {
	padding: 10px;
	border-bottom: 1px solid lightgray;
	font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.checkout__right {
	margin-left: 10px;
}
